nodeRed/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "388417d61a729554",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "",
        "diff": true,
        "name": "",
        "x": 110,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3a7de6b52e8fae85",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "StatePump1",
        "diff": true,
        "name": "B1",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "a72d350d21f92b37",
                "9d60863d92422b5a"
            ]
        ]
    },
    {
        "id": "7df553d45b6e5a00",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "StatePump2",
        "diff": true,
        "name": "B2",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "e9007248964a1c6d",
                "9d60863d92422b5a"
            ]
        ]
    },
    {
        "id": "d37db4da7d059c75",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "StatePump3",
        "diff": true,
        "name": "B3",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "c13dbb0d05c75bc0",
                "9d60863d92422b5a"
            ]
        ]
    },
    {
        "id": "7eb3c831a2741cc4",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "StorageLevel",
        "diff": true,
        "name": "StorageLevel",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "c1e77fef688252f3",
                "9d60863d92422b5a"
            ]
        ]
    },
    {
        "id": "da01cb15db77fdda",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "DistributionLevel",
        "diff": true,
        "name": "DistributionLevel",
        "x": 100,
        "y": 660,
        "wires": [
            [
                "489dd06b186d52e2",
                "9d60863d92422b5a"
            ]
        ]
    },
    {
        "id": "cba24c703d9dfcac",
        "type": "pccc out",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "variable": "Start",
        "name": "Marcha",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "8207984896477a83",
        "type": "pccc out",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "variable": "Stop",
        "name": "Paro",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "8d7ce2652cf4cf9e",
        "type": "pccc out",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "variable": "SpStorageTank",
        "name": "SP Reserva",
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "0d7a9b7f1f1705ed",
        "type": "pccc out",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "variable": "SpDistributionTank",
        "name": "SP Distribucion",
        "x": 820,
        "y": 920,
        "wires": []
    },
    {
        "id": "c13dbb0d05c75bc0",
        "type": "ui-switch",
        "z": "f6f2187d.f17ca8",
        "name": "B3",
        "label": "BOMBA 3",
        "group": "13a2541cf0d802d6",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": true,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 430,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e9007248964a1c6d",
        "type": "ui-switch",
        "z": "f6f2187d.f17ca8",
        "name": "B2",
        "label": "BOMBA 2",
        "group": "13a2541cf0d802d6",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": true,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 430,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a72d350d21f92b37",
        "type": "ui-switch",
        "z": "f6f2187d.f17ca8",
        "name": "B1",
        "label": "BOMBA 1",
        "group": "13a2541cf0d802d6",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": true,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 430,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c1e77fef688252f3",
        "type": "ui-text",
        "z": "f6f2187d.f17ca8",
        "group": "13a2541cf0d802d6",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "NIVEL RESERVA",
        "label": "Nivel Tanque de Reserva",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "num",
        "x": 470,
        "y": 600,
        "wires": []
    },
    {
        "id": "489dd06b186d52e2",
        "type": "ui-text",
        "z": "f6f2187d.f17ca8",
        "group": "13a2541cf0d802d6",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "NIVEL DISTRIBUCION",
        "label": "Nivel Tanque de Distribucion",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "",
        "valueType": "num",
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "0fadd8ac9c2f14d9",
        "type": "ui-number-input",
        "z": "f6f2187d.f17ca8",
        "group": "13a2541cf0d802d6",
        "name": "SETPOINT RESERVA",
        "label": "SP Nivel Tanque Reserva",
        "order": 3,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "right",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 480,
        "y": 860,
        "wires": [
            [
                "8d7ce2652cf4cf9e"
            ]
        ]
    },
    {
        "id": "38cf770cfaa8a0cf",
        "type": "ui-number-input",
        "z": "f6f2187d.f17ca8",
        "group": "13a2541cf0d802d6",
        "name": "SETPOINT DISTRIBUCION",
        "label": "SP Nivel Tanque Distribucion",
        "order": 4,
        "width": "2",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "right",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 500,
        "y": 920,
        "wires": [
            [
                "0d7a9b7f1f1705ed"
            ]
        ]
    },
    {
        "id": "9d60863d92422b5a",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "7978ff92cb685c1f",
                "560d9dfa35fb7a56"
            ]
        ]
    },
    {
        "id": "7978ff92cb685c1f",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://thingsboard.cloud/api/v1/kfWOpJnik07JG3qwQz98/telemetry",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 890,
        "y": 420,
        "wires": [
            [
                "dadafcdde3f9fd4b"
            ]
        ]
    },
    {
        "id": "dadafcdde3f9fd4b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "af6fa63ed38510ee",
        "type": "ui-switch",
        "z": "f6f2187d.f17ca8",
        "name": "MARCHA",
        "label": "Marcha",
        "group": "13a2541cf0d802d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "cba24c703d9dfcac"
            ]
        ]
    },
    {
        "id": "fa61c190a7cf8b18",
        "type": "ui-switch",
        "z": "f6f2187d.f17ca8",
        "name": "PARO",
        "label": "Paro",
        "group": "13a2541cf0d802d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "8207984896477a83"
            ]
        ]
    },
    {
        "id": "560d9dfa35fb7a56",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 460,
        "wires": []
    },
    {
        "id": "6ef9168e3b90e16a",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "http://thingsboard.cloud/api/v1/kfWOpJnik07JG3qwQz98/rpc",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "5a2279d46bd8b220",
                "66253246794058d5"
            ]
        ]
    },
    {
        "id": "5a2279d46bd8b220",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1270,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "66253246794058d5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "a19a3fe248ed37bd",
        "type": "ui-template",
        "z": "f6f2187d.f17ca8",
        "group": "476b291e3fc57649",
        "page": "",
        "ui": "",
        "name": "Ventana_Navegador",
        "order": 1,
        "width": "6",
        "height": "13",
        "head": "",
        "format": "<template>\n  <div class=\"FigureContainer\">\n    <div class=\"imageFigure\">\n      <svg id=\"Capa_1\" data-name=\"Capa 1\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 400 300\">\n        <polygon class=\"cls-1\"\n          points=\"220.02 14.93 234.31 14.93 234.31 1.73 201.29 1.73 199.31 1.85 197.35 2.1 195.38 2.59 193.65 3.33 191.92 4.07 190.2 5.06 188.72 6.29 187.36 7.52 186 8.88 184.9 10.49 183.91 12.09 183.05 13.82 182.32 15.67 181.82 17.52 181.57 19.5 181.45 21.46 181.57 23.44 181.82 25.41 182.32 27.39 183.05 29.24 183.91 30.97 184.9 32.56 186 34.05 187.36 35.53 188.72 36.76 190.2 38 191.92 38.98 193.65 39.73 195.38 40.47 197.35 40.96 199.31 41.2 201.29 41.33 203.26 41.2 205.23 40.96 207.2 40.47 208.93 39.73 210.66 38.98 212.38 38 213.86 36.76 215.34 35.53 216.57 34.05 217.68 32.56 218.66 30.97 219.53 29.24 220.27 27.39 220.76 25.41 221 23.44 221.13 21.46 221 19 220.63 17.27 220.27 15.67 220.02 14.93 220.02 14.93\" />\n        <polygon class=\"cls-2\" points=\"201.29 2.84 234.31 2.84 234.31 13.82 201.29 13.82 201.29 2.84 201.29 2.84\" />\n        <polygon class=\"cls-3\" points=\"201.29 4.2 234.31 4.2 234.31 12.46 201.29 12.46 201.29 4.2 201.29 4.2\" />\n        <polygon class=\"cls-4\" points=\"201.29 5.42 234.31 5.42 234.31 11.23 201.29 11.23 201.29 5.42 201.29 5.42\" />\n        <polygon class=\"cls-5\" points=\"201.29 6.42 234.31 6.42 234.31 10.12 201.29 10.12 201.29 6.42 201.29 6.42\" />\n        <polygon class=\"cls-6\" points=\"201.29 7.52 234.31 7.52 234.31 9.13 201.29 9.13 201.29 7.52 201.29 7.52\" />\n        <polygon class=\"cls-3\"\n          points=\"201.29 40.22 205.11 39.85 208.56 38.74 211.76 37.01 214.59 34.79 216.81 31.95 218.54 28.87 219.65 25.29 220.02 21.59 219.65 17.77 218.54 14.31 216.81 11.1 214.59 8.27 211.76 6.05 208.56 4.32 205.11 3.21 201.29 2.84 197.6 3.21 194.02 4.32 190.82 6.05 188.1 8.27 185.76 11.1 184.03 14.31 182.93 17.77 182.56 21.59 182.93 25.29 184.03 28.87 185.76 31.95 188.1 34.79 190.82 37.01 194.02 38.74 197.6 39.85 201.29 40.22 201.29 40.22\" />\n        <polygon class=\"cls-1\"\n          points=\"201.29 28.12 177.13 28.12 177.13 14.93 201.29 14.93 202.64 15.05 203.88 15.42 204.99 16.04 205.97 16.9 206.84 17.89 207.45 19 207.82 20.23 207.94 21.59 207.82 22.95 207.45 24.18 206.84 25.29 205.97 26.16 204.99 27.02 203.88 27.63 202.64 28 201.29 28.12 201.29 28.12\" />\n        <polygon class=\"cls-2\"\n          points=\"204.5 27.26 205.23 26.77 205.97 26.28 206.47 25.53 206.96 24.92 207.45 24.18 207.7 23.31 207.82 22.45 207.94 21.59 207.82 20.72 207.7 19.74 207.45 19 206.96 18.14 206.47 17.52 205.97 16.77 205.23 16.28 204.5 15.79 177.13 15.79 177.13 27.26 204.5 27.26 204.5 27.26\" />\n        <polygon class=\"cls-3\"\n          points=\"206.22 25.9 206.59 25.41 206.96 25.04 207.2 24.43 207.45 23.93 207.7 23.31 207.82 22.82 207.94 22.21 207.94 21.59 207.94 20.97 207.82 20.36 207.7 19.86 207.45 19.25 207.2 18.63 206.96 18.14 206.59 17.64 206.22 17.15 177.13 17.15 177.13 25.9 206.22 25.9 206.22 25.9\" />\n        <polygon class=\"cls-4\"\n          points=\"207.2 24.55 207.57 23.81 207.82 23.07 207.94 22.33 207.94 21.59 207.94 20.72 207.82 19.99 207.57 19.25 207.2 18.5 177.13 18.5 177.13 24.55 207.2 24.55 207.2 24.55\" />\n        <polygon class=\"cls-5\"\n          points=\"207.57 23.44 207.7 22.95 207.82 22.45 207.94 22.09 207.94 21.59 207.94 20.97 207.82 20.48 207.7 19.86 207.57 19.37 177.13 19.37 177.13 23.44 207.57 23.44 207.57 23.44\" />\n        <polygon class=\"cls-6\"\n          points=\"207.82 22.33 207.94 22.09 207.94 21.96 207.94 21.71 207.94 21.59 207.94 21.34 207.94 21.09 207.94 20.97 207.82 20.72 177.13 20.72 177.13 22.33 207.82 22.33 207.82 22.33\" />\n        <polyline class=\"cls-7\"\n          points=\"177.13 14.93 201.29 14.93 202.64 15.05 203.88 15.42 204.99 16.04 205.97 16.9 206.84 17.89 207.45 19 207.82 20.23 207.94 21.59 207.82 22.95 207.45 24.18 206.84 25.29 205.97 26.16 204.99 27.02 203.88 27.63 202.64 28 201.29 28.12 177.13 28.12\" />\n        <polygon class=\"cls-1\" points=\"229.88 0 234.31 0 234.31 16.53 229.88 16.53 229.88 0 229.88 0\" />\n        <polygon class=\"cls-2\" points=\"229.88 1.11 234.31 1.11 234.31 15.55 229.88 15.55 229.88 1.11 229.88 1.11\" />\n        <polygon class=\"cls-3\" points=\"229.88 2.84 234.31 2.84 234.31 13.82 229.88 13.82 229.88 2.84 229.88 2.84\" />\n        <polygon class=\"cls-4\" points=\"229.88 4.56 234.31 4.56 234.31 12.09 229.88 12.09 229.88 4.56 229.88 4.56\" />\n        <polygon class=\"cls-5\" points=\"229.88 5.92 234.31 5.92 234.31 10.74 229.88 10.74 229.88 5.92 229.88 5.92\" />\n        <polygon class=\"cls-6\" points=\"229.88 7.28 234.31 7.28 234.31 9.38 229.88 9.38 229.88 7.28 229.88 7.28\" />\n        <polyline class=\"cls-7\" points=\"229.88 0 234.31 0 234.31 16.53 229.88 16.53 229.88 0\" />\n        <polygon class=\"cls-1\" points=\"172.7 13.33 177.13 13.33 177.13 29.85 172.7 29.85 172.7 13.33 172.7 13.33\" />\n        <polygon class=\"cls-2\" points=\"172.7 14.31 177.13 14.31 177.13 28.75 172.7 28.75 172.7 14.31 172.7 14.31\" />\n        <polygon class=\"cls-3\" points=\"172.7 16.04 177.13 16.04 177.13 27.02 172.7 27.02 172.7 16.04 172.7 16.04\" />\n        <polygon class=\"cls-4\" points=\"172.7 17.77 177.13 17.77 177.13 25.29 172.7 25.29 172.7 17.77 172.7 17.77\" />\n        <polygon class=\"cls-5\" points=\"172.7 19.12 177.13 19.12 177.13 23.93 172.7 23.93 172.7 19.12 172.7 19.12\" />\n        <polygon class=\"cls-6\" points=\"172.7 20.48 177.13 20.48 177.13 22.58 172.7 22.58 172.7 20.48 172.7 20.48\" />\n        <polyline class=\"cls-7\" points=\"172.7 13.33 177.13 13.33 177.13 29.85 172.7 29.85 172.7 13.33\" />\n        <polygon class=\"cls-1\"\n          points=\"217.8 82.42 232.09 82.42 232.09 69.22 199.07 69.22 197.1 69.34 195.13 69.59 193.16 70.09 191.43 70.83 189.71 71.56 187.98 72.56 186.5 73.78 185.15 75.02 183.79 76.38 182.68 77.98 181.69 79.59 180.83 81.31 180.1 83.16 179.6 85.01 179.35 86.99 179.23 88.96 179.35 90.94 179.6 92.91 180.1 94.89 180.83 96.73 181.69 98.46 182.68 100.07 183.79 101.55 185.15 103.02 186.5 104.26 187.98 105.49 189.71 106.48 191.43 107.22 193.16 107.96 195.13 108.45 197.1 108.7 199.07 108.83 201.04 108.7 203.01 108.45 204.99 107.96 206.71 107.22 208.44 106.48 210.16 105.49 211.64 104.26 213.12 103.02 214.35 101.55 215.46 100.07 216.44 98.46 217.31 96.73 218.05 94.89 218.54 92.91 218.78 90.94 218.91 88.96 218.78 86.5 218.42 84.77 218.05 83.16 217.8 82.42 217.8 82.42\" />\n        <polygon class=\"cls-2\" points=\"199.07 70.33 232.09 70.33 232.09 81.31 199.07 81.31 199.07 70.33 199.07 70.33\" />\n        <polygon class=\"cls-3\" points=\"199.07 71.69 232.09 71.69 232.09 79.96 199.07 79.96 199.07 71.69 199.07 71.69\" />\n        <polygon class=\"cls-4\" points=\"199.07 72.92 232.09 72.92 232.09 78.72 199.07 78.72 199.07 72.92 199.07 72.92\" />\n        <polygon class=\"cls-5\" points=\"199.07 73.91 232.09 73.91 232.09 77.61 199.07 77.61 199.07 73.91 199.07 73.91\" />\n        <polygon class=\"cls-6\" points=\"199.07 75.02 232.09 75.02 232.09 76.63 199.07 76.63 199.07 75.02 199.07 75.02\" />\n        <polygon class=\"cls-3\"\n          points=\"199.07 107.71 202.89 107.34 206.34 106.23 209.54 104.51 212.38 102.29 214.59 99.45 216.32 96.36 217.43 92.79 217.8 89.08 217.43 85.26 216.32 81.81 214.59 78.59 212.38 75.76 209.54 73.54 206.34 71.81 202.89 70.7 199.07 70.33 195.38 70.7 191.8 71.81 188.6 73.54 185.88 75.76 183.54 78.59 181.82 81.81 180.71 85.26 180.34 89.08 180.71 92.79 181.82 96.36 183.54 99.45 185.88 102.29 188.6 104.51 191.8 106.23 195.38 107.34 199.07 107.71 199.07 107.71\" />\n        <polygon class=\"cls-1\"\n          points=\"199.07 95.62 174.92 95.62 174.92 82.42 199.07 82.42 200.43 82.54 201.66 82.91 202.77 83.53 203.75 84.4 204.62 85.38 205.23 86.5 205.6 87.72 205.72 89.08 205.6 90.44 205.23 91.67 204.62 92.79 203.75 93.65 202.77 94.51 201.66 95.13 200.43 95.5 199.07 95.62 199.07 95.62\" />\n        <polygon class=\"cls-2\"\n          points=\"202.28 94.76 203.01 94.26 203.75 93.77 204.25 93.03 204.74 92.42 205.23 91.67 205.48 90.81 205.6 89.94 205.72 89.08 205.6 88.23 205.48 87.23 205.23 86.5 204.74 85.63 204.25 85.01 203.75 84.27 203.01 83.78 202.28 83.28 174.92 83.28 174.92 94.76 202.28 94.76 202.28 94.76\" />\n        <polygon class=\"cls-3\"\n          points=\"204 93.4 204.37 92.91 204.74 92.54 204.99 91.92 205.23 91.43 205.48 90.81 205.6 90.32 205.72 89.7 205.72 89.08 205.72 88.47 205.6 87.85 205.48 87.36 205.23 86.74 204.99 86.13 204.74 85.63 204.37 85.13 204 84.64 174.92 84.64 174.92 93.4 204 93.4 204 93.4\" />\n        <polygon class=\"cls-4\"\n          points=\"204.99 92.04 205.35 91.3 205.6 90.57 205.72 89.82 205.72 89.08 205.72 88.23 205.6 87.48 205.35 86.74 204.99 86 174.92 86 174.92 92.04 204.99 92.04 204.99 92.04\" />\n        <polygon class=\"cls-5\"\n          points=\"205.35 90.94 205.48 90.44 205.6 89.94 205.72 89.58 205.72 89.08 205.72 88.47 205.6 87.97 205.48 87.36 205.35 86.86 174.92 86.86 174.92 90.94 205.35 90.94 205.35 90.94\" />\n        <polygon class=\"cls-6\"\n          points=\"205.6 89.82 205.72 89.58 205.72 89.45 205.72 89.21 205.72 89.08 205.72 88.84 205.72 88.59 205.72 88.47 205.6 88.23 174.92 88.23 174.92 89.82 205.6 89.82 205.6 89.82\" />\n        <polyline class=\"cls-7\"\n          points=\"174.92 82.42 199.07 82.42 200.43 82.54 201.66 82.91 202.77 83.53 203.75 84.4 204.62 85.38 205.23 86.5 205.6 87.72 205.72 89.08 205.6 90.44 205.23 91.67 204.62 92.79 203.75 93.65 202.77 94.51 201.66 95.13 200.43 95.5 199.07 95.62 174.92 95.62\" />\n        <polygon class=\"cls-1\" points=\"227.66 67.5 232.09 67.5 232.09 84.03 227.66 84.03 227.66 67.5 227.66 67.5\" />\n        <polygon class=\"cls-2\" points=\"227.66 68.61 232.09 68.61 232.09 83.04 227.66 83.04 227.66 68.61 227.66 68.61\" />\n        <polygon class=\"cls-3\" points=\"227.66 70.33 232.09 70.33 232.09 81.31 227.66 81.31 227.66 70.33 227.66 70.33\" />\n        <polygon class=\"cls-4\" points=\"227.66 72.06 232.09 72.06 232.09 79.59 227.66 79.59 227.66 72.06 227.66 72.06\" />\n        <polygon class=\"cls-5\" points=\"227.66 73.42 232.09 73.42 232.09 78.23 227.66 78.23 227.66 73.42 227.66 73.42\" />\n        <polygon class=\"cls-6\" points=\"227.66 74.78 232.09 74.78 232.09 76.88 227.66 76.88 227.66 74.78 227.66 74.78\" />\n        <polyline class=\"cls-7\" points=\"227.66 67.5 232.09 67.5 232.09 84.03 227.66 84.03 227.66 67.5\" />\n        <polygon class=\"cls-1\" points=\"170.48 80.81 174.92 80.81 174.92 97.35 170.48 97.35 170.48 80.81 170.48 80.81\" />\n        <polygon class=\"cls-2\" points=\"170.48 81.81 174.92 81.81 174.92 96.24 170.48 96.24 170.48 81.81 170.48 81.81\" />\n        <polygon class=\"cls-3\" points=\"170.48 83.53 174.92 83.53 174.92 94.51 170.48 94.51 170.48 83.53 170.48 83.53\" />\n        <polygon class=\"cls-4\" points=\"170.48 85.26 174.92 85.26 174.92 92.79 170.48 92.79 170.48 85.26 170.48 85.26\" />\n        <polygon class=\"cls-5\" points=\"170.48 86.62 174.92 86.62 174.92 91.43 170.48 91.43 170.48 86.62 170.48 86.62\" />\n        <polygon class=\"cls-6\" points=\"170.48 87.97 174.92 87.97 174.92 90.07 170.48 90.07 170.48 87.97 170.48 87.97\" />\n        <polyline class=\"cls-7\" points=\"170.48 80.81 174.92 80.81 174.92 97.35 170.48 97.35 170.48 80.81\" />\n        <polygon class=\"cls-1\"\n          points=\"222.24 253.34 236.53 253.34 236.53 240.13 203.5 240.13 201.53 240.26 199.57 240.5 197.6 240.99 195.87 241.74 194.14 242.48 192.41 243.46 190.94 244.7 189.58 245.93 188.22 247.29 187.12 248.89 186.13 250.49 185.27 252.22 184.53 254.07 184.03 255.93 183.79 257.9 183.66 259.87 183.79 261.84 184.03 263.82 184.53 265.79 185.27 267.64 186.13 269.37 187.12 270.97 188.22 272.46 189.58 273.94 190.94 275.17 192.41 276.41 194.14 277.39 195.87 278.13 197.6 278.87 199.57 279.36 201.53 279.61 203.5 279.73 205.48 279.61 207.45 279.36 209.42 278.87 211.15 278.13 212.88 277.39 214.59 276.41 216.08 275.17 217.56 273.94 218.78 272.46 219.9 270.97 220.88 269.37 221.75 267.64 222.48 265.79 222.97 263.82 223.22 261.84 223.34 259.87 223.22 257.4 222.85 255.68 222.48 254.07 222.24 253.34 222.24 253.34\" />\n        <polygon class=\"cls-2\"\n          points=\"203.5 241.24 236.53 241.24 236.53 252.22 203.5 252.22 203.5 241.24 203.5 241.24\" />\n        <polygon class=\"cls-3\" points=\"203.5 242.6 236.53 242.6 236.53 250.87 203.5 250.87 203.5 242.6 203.5 242.6\" />\n        <polygon class=\"cls-4\"\n          points=\"203.5 243.83 236.53 243.83 236.53 249.63 203.5 249.63 203.5 243.83 203.5 243.83\" />\n        <polygon class=\"cls-5\"\n          points=\"203.5 244.82 236.53 244.82 236.53 248.52 203.5 248.52 203.5 244.82 203.5 244.82\" />\n        <polygon class=\"cls-6\"\n          points=\"203.5 245.93 236.53 245.93 236.53 247.53 203.5 247.53 203.5 245.93 203.5 245.93\" />\n        <polygon class=\"cls-3\"\n          points=\"203.5 278.63 207.33 278.25 210.78 277.14 213.98 275.41 216.81 273.19 219.03 270.36 220.76 267.28 221.87 263.69 222.24 260 221.87 256.17 220.76 252.71 219.03 249.51 216.81 246.67 213.98 244.45 210.78 242.72 207.33 241.61 203.5 241.24 199.81 241.61 196.24 242.72 193.03 244.45 190.32 246.67 187.98 249.51 186.25 252.71 185.15 256.17 184.78 260 185.15 263.69 186.25 267.28 187.98 270.36 190.32 273.19 193.03 275.41 196.24 277.14 199.81 278.25 203.5 278.63 203.5 278.63\" />\n        <polygon class=\"cls-1\"\n          points=\"203.5 266.53 179.35 266.53 179.35 253.34 203.5 253.34 204.86 253.46 206.1 253.83 207.2 254.44 208.19 255.31 209.05 256.29 209.67 257.4 210.03 258.64 210.16 260 210.03 261.35 209.67 262.59 209.05 263.69 208.19 264.56 207.2 265.42 206.1 266.04 204.86 266.41 203.5 266.53 203.5 266.53\" />\n        <polygon class=\"cls-2\"\n          points=\"206.71 265.67 207.45 265.18 208.19 264.69 208.69 263.94 209.18 263.33 209.67 262.59 209.91 261.72 210.03 260.86 210.16 260 210.03 259.13 209.91 258.15 209.67 257.4 209.18 256.54 208.69 255.93 208.19 255.18 207.45 254.69 206.71 254.2 179.35 254.2 179.35 265.67 206.71 265.67 206.71 265.67\" />\n        <polygon class=\"cls-3\"\n          points=\"208.44 264.31 208.81 263.82 209.18 263.45 209.42 262.83 209.67 262.34 209.91 261.72 210.03 261.23 210.16 260.61 210.16 260 210.16 259.38 210.03 258.76 209.91 258.27 209.67 257.65 209.42 257.03 209.18 256.54 208.81 256.05 208.44 255.56 179.35 255.56 179.35 264.31 208.44 264.31 208.44 264.31\" />\n        <polygon class=\"cls-4\"\n          points=\"209.42 262.96 209.79 262.21 210.03 261.47 210.16 260.74 210.16 260 210.16 259.13 210.03 258.39 209.79 257.65 209.42 256.91 179.35 256.91 179.35 262.96 209.42 262.96 209.42 262.96\" />\n        <polygon class=\"cls-5\"\n          points=\"209.79 261.84 209.91 261.35 210.03 260.86 210.16 260.49 210.16 260 210.16 259.38 210.03 258.88 209.91 258.27 209.79 257.77 179.35 257.77 179.35 261.84 209.79 261.84 209.79 261.84\" />\n        <polygon class=\"cls-6\"\n          points=\"210.03 260.74 210.16 260.49 210.16 260.37 210.16 260.12 210.16 260 210.16 259.74 210.16 259.5 210.16 259.38 210.03 259.13 179.35 259.13 179.35 260.74 210.03 260.74 210.03 260.74\" />\n        <polyline class=\"cls-7\"\n          points=\"179.35 253.34 203.5 253.34 204.86 253.46 206.1 253.83 207.2 254.44 208.19 255.31 209.05 256.29 209.67 257.4 210.03 258.64 210.16 260 210.03 261.35 209.67 262.59 209.05 263.69 208.19 264.56 207.2 265.42 206.1 266.04 204.86 266.41 203.5 266.53 179.35 266.53\" />\n        <polygon class=\"cls-1\"\n          points=\"232.09 238.4 236.53 238.4 236.53 254.93 232.09 254.93 232.09 238.4 232.09 238.4\" />\n        <polygon class=\"cls-2\"\n          points=\"232.09 239.51 236.53 239.51 236.53 253.95 232.09 253.95 232.09 239.51 232.09 239.51\" />\n        <polygon class=\"cls-3\"\n          points=\"232.09 241.24 236.53 241.24 236.53 252.22 232.09 252.22 232.09 241.24 232.09 241.24\" />\n        <polygon class=\"cls-4\"\n          points=\"232.09 242.97 236.53 242.97 236.53 250.49 232.09 250.49 232.09 242.97 232.09 242.97\" />\n        <polygon class=\"cls-5\"\n          points=\"232.09 244.33 236.53 244.33 236.53 249.14 232.09 249.14 232.09 244.33 232.09 244.33\" />\n        <polygon class=\"cls-6\"\n          points=\"232.09 245.68 236.53 245.68 236.53 247.78 232.09 247.78 232.09 245.68 232.09 245.68\" />\n        <polyline class=\"cls-7\" points=\"232.09 238.4 236.53 238.4 236.53 254.93 232.09 254.93 232.09 238.4\" />\n        <polygon class=\"cls-1\"\n          points=\"174.92 251.73 179.35 251.73 179.35 268.26 174.92 268.26 174.92 251.73 174.92 251.73\" />\n        <polygon class=\"cls-2\"\n          points=\"174.92 252.71 179.35 252.71 179.35 267.15 174.92 267.15 174.92 252.71 174.92 252.71\" />\n        <polygon class=\"cls-3\"\n          points=\"174.92 254.44 179.35 254.44 179.35 265.42 174.92 265.42 174.92 254.44 174.92 254.44\" />\n        <polygon class=\"cls-4\"\n          points=\"174.92 256.17 179.35 256.17 179.35 263.69 174.92 263.69 174.92 256.17 174.92 256.17\" />\n        <polygon class=\"cls-5\"\n          points=\"174.92 257.52 179.35 257.52 179.35 262.34 174.92 262.34 174.92 257.52 174.92 257.52\" />\n        <polygon class=\"cls-6\"\n          points=\"174.92 258.88 179.35 258.88 179.35 260.98 174.92 260.98 174.92 258.88 174.92 258.88\" />\n        <polyline class=\"cls-7\" points=\"174.92 251.73 179.35 251.73 179.35 268.26 174.92 268.26 174.92 251.73\" />\n        <polygon class=\"cls-1\" points=\"234.31 0.6 327.42 0.6 327.42 15.57 234.31 15.57 234.31 0.6 234.31 0.6\" />\n        <polygon class=\"cls-2\" points=\"234.31 1.61 327.42 1.61 327.42 14.67 234.31 14.67 234.31 1.61 234.31 1.61\" />\n        <polygon class=\"cls-3\" points=\"234.31 3.19 327.42 3.19 327.42 13.1 234.31 13.1 234.31 3.19 234.31 3.19\" />\n        <polygon class=\"cls-4\" points=\"234.31 4.66 327.42 4.66 327.42 11.52 234.31 11.52 234.31 4.66 234.31 4.66\" />\n        <polygon class=\"cls-5\" points=\"234.31 5.89 327.42 5.89 327.42 10.28 234.31 10.28 234.31 5.89 234.31 5.89\" />\n        <polygon class=\"cls-6\" points=\"234.31 7.24 327.42 7.24 327.42 9.04 234.31 9.04 234.31 7.24 234.31 7.24\" />\n        <line class=\"cls-7\" x1=\"234.32\" y1=\"15.57\" x2=\"327.42\" y2=\"15.57\" />\n        <line class=\"cls-7\" x1=\"327.42\" y1=\"0.6\" x2=\"234.32\" y2=\"0.6\" />\n        <polygon class=\"cls-1\" points=\"232.24 68.34 301.58 68.34 301.58 83.31 232.24 83.31 232.24 68.34 232.24 68.34\" />\n        <polygon class=\"cls-2\" points=\"232.24 69.35 301.58 69.35 301.58 82.4 232.24 82.4 232.24 69.35 232.24 69.35\" />\n        <polygon class=\"cls-3\" points=\"232.24 70.92 301.58 70.92 301.58 80.83 232.24 80.83 232.24 70.92 232.24 70.92\" />\n        <polygon class=\"cls-4\" points=\"232.24 72.39 301.58 72.39 301.58 79.25 232.24 79.25 232.24 72.39 232.24 72.39\" />\n        <polygon class=\"cls-5\" points=\"232.24 73.63 301.58 73.63 301.58 78.02 232.24 78.02 232.24 73.63 232.24 73.63\" />\n        <polygon class=\"cls-6\" points=\"232.24 74.97 301.58 74.97 301.58 76.78 232.24 76.78 232.24 74.97 232.24 74.97\" />\n        <line class=\"cls-7\" x1=\"232.23\" y1=\"83.31\" x2=\"301.58\" y2=\"83.31\" />\n        <line class=\"cls-7\" x1=\"301.58\" y1=\"68.34\" x2=\"232.23\" y2=\"68.34\" />\n        <polygon class=\"cls-1\" points=\"101.58 81.6 170.91 81.6 170.91 96.57 101.58 96.57 101.58 81.6 101.58 81.6\" />\n        <polygon class=\"cls-2\" points=\"101.58 82.61 170.91 82.61 170.91 95.67 101.58 95.67 101.58 82.61 101.58 82.61\" />\n        <polygon class=\"cls-3\" points=\"101.58 84.19 170.91 84.19 170.91 94.09 101.58 94.09 101.58 84.19 101.58 84.19\" />\n        <polygon class=\"cls-4\" points=\"101.58 85.65 170.91 85.65 170.91 92.52 101.58 92.52 101.58 85.65 101.58 85.65\" />\n        <polygon class=\"cls-5\" points=\"101.58 86.89 170.91 86.89 170.91 91.28 101.58 91.28 101.58 86.89 101.58 86.89\" />\n        <polygon class=\"cls-6\" points=\"101.58 88.24 170.91 88.24 170.91 90.04 101.58 90.04 101.58 88.24 101.58 88.24\" />\n        <line class=\"cls-7\" x1=\"101.58\" y1=\"96.57\" x2=\"170.91\" y2=\"96.57\" />\n        <line class=\"cls-7\" x1=\"170.91\" y1=\"81.6\" x2=\"101.58\" y2=\"81.6\" />\n        <polygon class=\"cls-1\" points=\"56.86 13.91 172.7 13.91 172.7 28.89 56.86 28.89 56.86 13.91 56.86 13.91\" />\n        <polygon class=\"cls-2\" points=\"56.86 14.94 172.7 14.94 172.7 27.99 56.86 27.99 56.86 14.94 56.86 14.94\" />\n        <polygon class=\"cls-3\" points=\"56.86 16.51 172.7 16.51 172.7 26.41 56.86 26.41 56.86 16.51 56.86 16.51\" />\n        <polygon class=\"cls-4\" points=\"56.86 17.98 172.7 17.98 172.7 24.83 56.86 24.83 56.86 17.98 56.86 17.98\" />\n        <polygon class=\"cls-5\" points=\"56.86 19.21 172.7 19.21 172.7 23.6 56.86 23.6 56.86 19.21 56.86 19.21\" />\n        <polygon class=\"cls-6\" points=\"56.86 20.56 172.7 20.56 172.7 22.36 56.86 22.36 56.86 20.56 56.86 20.56\" />\n        <line class=\"cls-7\" x1=\"56.86\" y1=\"28.88\" x2=\"172.7\" y2=\"28.88\" />\n        <line class=\"cls-7\" x1=\"172.7\" y1=\"13.92\" x2=\"56.86\" y2=\"13.92\" />\n        <polygon class=\"cls-1\"\n          points=\"341.08 0.6 327.42 0.6 327.42 15.47 341.08 15.47 342.12 15.65 343.04 16.19 343.63 17.02 343.83 17.97 343.83 30.34 360.24 30.34 360.24 17.97 360.11 16.19 359.85 14.46 359.39 12.79 358.73 11.19 357.94 9.7 356.95 8.28 355.84 6.91 354.6 5.72 353.28 4.59 351.77 3.58 350.2 2.69 348.56 1.97 346.79 1.37 344.95 0.96 343.04 0.72 341.08 0.6 341.08 0.6\" />\n        <polygon class=\"cls-2\"\n          points=\"359.19 17.97 359.12 16.31 358.79 14.64 358.4 13.1 357.75 11.55 357.02 10.12 356.11 8.75 355.05 7.5 353.87 6.38 352.63 5.3 351.24 4.34 349.74 3.52 348.16 2.86 346.46 2.26 344.75 1.91 342.91 1.61 341.08 1.55 327.42 1.55 327.42 14.52 341.08 14.52 342.58 14.81 343.76 15.53 344.55 16.6 344.88 17.97 344.88 30.34 359.19 30.34 359.19 17.97 359.19 17.97\" />\n        <polygon class=\"cls-3\"\n          points=\"357.48 17.97 357.48 30.34 346.59 30.34 346.59 17.97 346.46 16.96 346.13 16.01 345.66 15.18 344.95 14.46 344.16 13.8 343.24 13.39 342.19 13.1 341.08 12.97 327.42 12.97 327.42 3.1 341.08 3.1 342.78 3.16 344.36 3.4 345.93 3.76 347.44 4.28 348.89 4.88 350.26 5.66 351.51 6.49 352.69 7.45 353.74 8.52 354.66 9.64 355.51 10.89 356.17 12.2 356.76 13.57 357.15 14.99 357.42 16.42 357.48 17.97 357.48 17.97\" />\n        <polygon class=\"cls-4\"\n          points=\"355.78 17.97 355.71 16.6 355.45 15.29 355.12 13.98 354.6 12.79 354.01 11.61 353.28 10.54 352.43 9.47 351.51 8.52 350.46 7.68 349.27 6.91 348.1 6.25 346.79 5.72 345.47 5.24 344.03 4.94 342.58 4.71 341.08 4.65 327.42 4.65 327.42 11.43 341.08 11.43 342.52 11.55 343.89 11.96 345.14 12.56 346.19 13.33 347.05 14.28 347.7 15.41 348.16 16.66 348.29 17.97 348.29 30.34 355.78 30.34 355.78 17.97 355.78 17.97\" />\n        <polygon class=\"cls-5\"\n          points=\"354.47 17.97 354.47 30.34 349.67 30.34 349.67 17.97 349.47 16.42 349.01 14.94 348.23 13.63 347.18 12.5 345.86 11.55 344.42 10.83 342.78 10.42 341.08 10.24 327.42 10.24 327.42 5.9 341.08 5.9 342.45 5.95 343.76 6.13 345.08 6.43 346.32 6.85 347.44 7.38 348.56 7.97 349.6 8.63 350.53 9.41 351.44 10.3 352.17 11.25 352.82 12.2 353.41 13.27 353.87 14.4 354.2 15.53 354.4 16.72 354.47 17.97 354.47 17.97\" />\n        <polygon class=\"cls-6\"\n          points=\"353.08 17.97 353.02 16.84 352.82 15.77 352.56 14.76 352.17 13.74 351.64 12.79 351.05 11.9 350.33 11.07 349.54 10.3 348.69 9.58 347.77 8.93 346.79 8.4 345.73 7.92 344.62 7.56 343.5 7.33 342.32 7.14 341.08 7.08 327.42 7.08 327.42 8.98 341.08 8.98 343.11 9.16 344.95 9.7 346.65 10.54 348.1 11.61 349.27 12.91 350.2 14.46 350.79 16.13 350.99 17.97 350.99 30.34 353.08 30.34 353.08 17.97 353.08 17.97\" />\n        <polyline class=\"cls-7\"\n          points=\"360.24 30.34 360.24 17.97 360.11 16.19 359.85 14.46 359.39 12.79 358.73 11.19 357.94 9.7 356.95 8.28 355.84 6.91 354.6 5.72 353.28 4.59 351.77 3.58 350.2 2.69 348.56 1.97 346.79 1.37 344.95 0.96 343.04 0.72 341.08 0.6 327.42 0.6\" />\n        <polyline class=\"cls-7\"\n          points=\"327.42 15.47 341.08 15.47 341.6 15.53 342.12 15.65 342.58 15.88 343.04 16.19 343.37 16.6 343.63 17.02 343.76 17.49 343.83 17.97 343.83 30.34\" />\n        <polygon class=\"cls-1\"\n          points=\"314.61 68.42 300.95 68.42 300.95 83.28 314.61 83.28 315.67 83.47 316.58 84 317.17 84.83 317.37 85.78 317.37 98.16 333.78 98.16 333.78 85.78 333.65 84 333.38 82.27 332.92 80.61 332.27 79 331.48 77.52 330.5 76.09 329.38 74.72 328.14 73.53 326.82 72.4 325.31 71.39 323.73 70.5 322.09 69.78 320.32 69.19 318.48 68.77 316.58 68.53 314.61 68.42 314.61 68.42\" />\n        <polygon class=\"cls-2\"\n          points=\"332.73 85.78 332.66 84.12 332.34 82.46 331.94 80.91 331.28 79.36 330.56 77.93 329.64 76.56 328.6 75.31 327.41 74.19 326.17 73.12 324.79 72.17 323.27 71.33 321.7 70.67 319.99 70.09 318.29 69.72 316.45 69.43 314.61 69.37 300.95 69.37 300.95 82.33 314.61 82.33 316.12 82.63 317.31 83.34 318.09 84.42 318.42 85.78 318.42 98.16 332.73 98.16 332.73 85.78 332.73 85.78\" />\n        <polygon class=\"cls-3\"\n          points=\"331.02 85.78 331.02 98.16 320.13 98.16 320.13 85.78 319.99 84.77 319.66 83.82 319.21 82.99 318.48 82.27 317.69 81.62 316.78 81.2 315.73 80.91 314.61 80.79 300.95 80.79 300.95 70.92 314.61 70.92 316.32 70.98 317.89 71.21 319.47 71.57 320.98 72.11 322.42 72.7 323.8 73.47 325.05 74.3 326.23 75.26 327.28 76.32 328.2 77.45 329.05 78.71 329.71 80.01 330.3 81.38 330.69 82.81 330.95 84.23 331.02 85.78 331.02 85.78\" />\n        <polygon class=\"cls-4\"\n          points=\"329.31 85.78 329.25 84.42 328.98 83.11 328.66 81.8 328.14 80.61 327.54 79.42 326.82 78.35 325.97 77.28 325.05 76.32 324 75.49 322.82 74.72 321.63 74.07 320.32 73.53 319.01 73.06 317.56 72.75 316.12 72.52 314.61 72.46 300.95 72.46 300.95 79.24 314.61 79.24 316.05 79.36 317.44 79.78 318.68 80.37 319.73 81.14 320.59 82.1 321.25 83.22 321.7 84.48 321.83 85.78 321.83 98.16 329.31 98.16 329.31 85.78 329.31 85.78\" />\n        <polygon class=\"cls-5\"\n          points=\"328 85.78 328 98.16 323.21 98.16 323.21 85.78 323.02 84.23 322.56 82.75 321.76 81.44 320.72 80.31 319.4 79.36 317.96 78.65 316.32 78.23 314.61 78.05 300.95 78.05 300.95 73.71 314.61 73.71 315.99 73.77 317.31 73.95 318.62 74.24 319.86 74.66 320.98 75.2 322.09 75.8 323.14 76.44 324.06 77.22 324.99 78.11 325.7 79.06 326.36 80.01 326.95 81.08 327.41 82.21 327.74 83.34 327.94 84.54 328 85.78 328 85.78\" />\n        <polygon class=\"cls-6\"\n          points=\"326.63 85.78 326.56 84.66 326.36 83.59 326.1 82.57 325.7 81.56 325.18 80.61 324.59 79.72 323.87 78.89 323.08 78.11 322.23 77.4 321.31 76.75 320.32 76.21 319.28 75.73 318.15 75.37 317.04 75.14 315.86 74.96 314.61 74.9 300.95 74.9 300.95 76.81 314.61 76.81 316.65 76.98 318.48 77.52 320.19 78.35 321.63 79.42 322.82 80.73 323.73 82.27 324.33 83.94 324.53 85.78 324.53 98.16 326.63 98.16 326.63 85.78 326.63 85.78\" />\n        <polyline class=\"cls-7\"\n          points=\"333.78 98.16 333.78 85.78 333.65 84 333.38 82.27 332.92 80.61 332.27 79 331.48 77.52 330.5 76.09 329.38 74.72 328.14 73.53 326.82 72.4 325.31 71.39 323.73 70.5 322.09 69.78 320.32 69.19 318.48 68.77 316.58 68.53 314.61 68.42 300.95 68.42\" />\n        <polyline class=\"cls-7\"\n          points=\"300.95 83.28 314.61 83.28 315.14 83.34 315.67 83.47 316.12 83.7 316.58 84 316.91 84.42 317.17 84.83 317.31 85.31 317.37 85.78 317.37 98.16\" />\n        <polygon class=\"cls-1\"\n          points=\"24.07 31.36 24.07 43.79 40.47 43.79 40.47 31.36 40.66 30.41 41.25 29.58 42.17 29.04 43.21 28.86 56.86 28.86 56.86 13.91 43.21 13.91 41.25 14.04 39.34 14.28 37.51 14.69 35.74 15.3 34.1 16.01 32.53 16.9 31.02 17.92 29.7 19.05 28.46 20.25 27.35 21.63 26.36 23.06 25.58 24.56 24.92 26.17 24.46 27.84 24.2 29.58 24.07 31.36 24.07 31.36\" />\n        <polygon class=\"cls-2\"\n          points=\"43.21 14.87 41.38 14.94 39.61 15.24 37.84 15.59 36.2 16.19 34.63 16.84 33.12 17.68 31.74 18.64 30.43 19.71 29.25 20.85 28.2 22.1 27.28 23.48 26.56 24.91 25.9 26.47 25.51 28.02 25.18 29.7 25.12 31.36 25.12 43.79 39.48 43.79 39.48 31.36 39.74 29.99 40.6 28.92 41.78 28.2 43.21 27.9 56.86 27.9 56.86 14.87 43.21 14.87 43.21 14.87\" />\n        <polygon class=\"cls-3\"\n          points=\"43.21 16.43 56.86 16.43 56.86 26.34 43.21 26.34 42.1 26.47 41.12 26.77 40.2 27.18 39.34 27.84 38.7 28.56 38.24 29.39 37.9 30.35 37.77 31.36 37.77 43.79 26.82 43.79 26.82 31.36 26.89 29.82 27.15 28.38 27.55 26.94 28.13 25.57 28.79 24.25 29.64 23 30.56 21.87 31.61 20.79 32.79 19.83 34.04 19 35.41 18.22 36.86 17.62 38.37 17.09 39.94 16.73 41.51 16.49 43.21 16.43 43.21 16.43\" />\n        <polygon class=\"cls-4\"\n          points=\"43.21 17.98 41.71 18.04 40.27 18.28 38.83 18.58 37.51 19.05 36.2 19.6 35.02 20.25 33.84 21.03 32.86 21.87 31.87 22.82 31.02 23.9 30.3 24.97 29.7 26.17 29.19 27.36 28.86 28.68 28.59 29.99 28.53 31.36 28.53 43.79 36.07 43.79 36.07 31.36 36.2 30.05 36.66 28.8 37.31 27.66 38.17 26.71 39.22 25.93 40.47 25.33 41.78 24.91 43.21 24.79 56.86 24.79 56.86 17.98 43.21 17.98 43.21 17.98\" />\n        <polygon class=\"cls-5\"\n          points=\"43.21 19.24 56.86 19.24 56.86 23.6 43.21 23.6 41.51 23.78 39.87 24.19 38.43 24.91 37.19 25.87 36.14 27 35.34 28.31 34.89 29.82 34.69 31.36 34.69 43.79 29.9 43.79 29.9 31.36 29.97 30.11 30.16 28.92 30.49 27.78 30.96 26.65 31.55 25.57 32.2 24.62 32.92 23.66 33.84 22.76 34.76 21.98 35.8 21.33 36.86 20.73 38.04 20.2 39.28 19.77 40.53 19.48 41.84 19.3 43.21 19.24 43.21 19.24\" />\n        <polygon class=\"cls-6\"\n          points=\"43.21 20.44 41.97 20.49 40.8 20.67 39.68 20.91 38.56 21.27 37.51 21.75 36.53 22.29 35.61 22.94 34.76 23.66 33.97 24.44 33.32 25.27 32.73 26.17 32.2 27.12 31.8 28.14 31.55 29.15 31.35 30.23 31.29 31.36 31.29 43.79 33.32 43.79 33.32 31.36 33.51 29.52 34.1 27.84 35.02 26.29 36.2 24.97 37.71 23.9 39.34 23.06 41.25 22.53 43.21 22.35 56.86 22.35 56.86 20.44 43.21 20.44 43.21 20.44\" />\n        <polyline class=\"cls-7\"\n          points=\"56.86 13.91 43.21 13.91 41.25 14.04 39.34 14.28 37.51 14.69 35.74 15.3 34.1 16.01 32.53 16.9 31.02 17.92 29.7 19.05 28.46 20.25 27.35 21.63 26.36 23.06 25.58 24.56 24.92 26.17 24.46 27.84 24.2 29.58 24.07 31.36 24.07 43.79\" />\n        <polyline class=\"cls-7\"\n          points=\"40.47 43.79 40.47 31.36 40.53 30.89 40.66 30.41 40.92 29.99 41.25 29.58 41.71 29.27 42.17 29.04 42.7 28.92 43.21 28.86 56.86 28.86\" />\n        <polygon class=\"cls-1\"\n          points=\"68.78 99.05 68.78 111.48 85.18 111.48 85.18 99.05 85.38 98.09 85.97 97.25 86.89 96.72 87.93 96.53 101.58 96.53 101.58 81.6 87.93 81.6 85.97 81.72 84.06 81.96 82.23 82.38 80.46 82.97 78.82 83.69 77.25 84.59 75.73 85.6 74.42 86.74 73.18 87.93 72.06 89.31 71.08 90.74 70.29 92.23 69.64 93.85 69.18 95.52 68.91 97.25 68.78 99.05 68.78 99.05\" />\n        <polygon class=\"cls-2\"\n          points=\"87.93 82.56 86.1 82.62 84.33 82.91 82.56 83.28 80.92 83.87 79.35 84.53 77.83 85.37 76.46 86.32 75.15 87.4 73.97 88.53 72.92 89.79 72 91.16 71.28 92.6 70.62 94.15 70.22 95.7 69.9 97.37 69.84 99.05 69.84 111.48 84.2 111.48 84.2 99.05 84.46 97.67 85.31 96.59 86.49 95.88 87.93 95.58 101.58 95.58 101.58 82.56 87.93 82.56 87.93 82.56\" />\n        <polygon class=\"cls-3\"\n          points=\"87.93 84.11 101.58 84.11 101.58 94.03 87.93 94.03 86.82 94.15 85.83 94.44 84.92 94.87 84.06 95.52 83.41 96.24 82.95 97.08 82.62 98.03 82.49 99.05 82.49 111.48 71.54 111.48 71.54 99.05 71.61 97.49 71.87 96.06 72.26 94.63 72.85 93.25 73.51 91.94 74.36 90.68 75.28 89.55 76.32 88.47 77.51 87.52 78.75 86.68 80.13 85.9 81.57 85.31 83.09 84.77 84.66 84.41 86.23 84.17 87.93 84.11 87.93 84.11\" />\n        <polygon class=\"cls-4\"\n          points=\"87.93 85.66 86.43 85.72 84.99 85.96 83.54 86.26 82.23 86.74 80.92 87.28 79.73 87.93 78.56 88.71 77.58 89.55 76.59 90.51 75.73 91.58 75.02 92.66 74.42 93.85 73.9 95.04 73.57 96.36 73.31 97.67 73.25 99.05 73.25 111.48 80.79 111.48 80.79 99.05 80.92 97.74 81.38 96.47 82.03 95.34 82.89 94.38 83.93 93.61 85.18 93.01 86.49 92.6 87.93 92.47 101.58 92.47 101.58 85.66 87.93 85.66 87.93 85.66\" />\n        <polygon class=\"cls-5\"\n          points=\"87.93 86.92 101.58 86.92 101.58 91.28 87.93 91.28 86.23 91.46 84.59 91.88 83.15 92.6 81.9 93.55 80.85 94.69 80.06 96 79.61 97.49 79.41 99.05 79.41 111.48 74.62 111.48 74.62 99.05 74.69 97.8 74.88 96.59 75.21 95.46 75.67 94.32 76.26 93.25 76.92 92.29 77.64 91.34 78.56 90.44 79.48 89.67 80.52 89.01 81.57 88.42 82.76 87.87 84 87.46 85.25 87.15 86.56 86.97 87.93 86.92 87.93 86.92\" />\n        <polygon class=\"cls-6\"\n          points=\"87.93 88.11 86.69 88.17 85.51 88.36 84.39 88.59 83.28 88.95 82.23 89.43 81.25 89.96 80.33 90.63 79.48 91.34 78.69 92.11 78.03 92.95 77.45 93.85 76.92 94.81 76.52 95.82 76.26 96.84 76.06 97.91 76 99.05 76 111.48 78.03 111.48 78.03 99.05 78.23 97.19 78.82 95.52 79.73 93.97 80.92 92.66 82.43 91.58 84.06 90.74 85.97 90.2 87.93 90.02 101.58 90.02 101.58 88.11 87.93 88.11 87.93 88.11\" />\n        <polyline class=\"cls-7\"\n          points=\"101.58 81.6 87.93 81.6 85.97 81.72 84.06 81.96 82.23 82.38 80.46 82.97 78.82 83.69 77.25 84.59 75.73 85.6 74.42 86.74 73.18 87.93 72.06 89.31 71.08 90.74 70.29 92.23 69.64 93.85 69.18 95.52 68.91 97.25 68.78 99.05 68.78 111.48\" />\n        <polyline class=\"cls-7\"\n          points=\"85.18 111.48 85.18 99.05 85.25 98.56 85.38 98.09 85.64 97.67 85.97 97.25 86.43 96.96 86.89 96.72 87.41 96.59 87.93 96.53 101.58 96.53\" />\n        <polygon class=\"cls-1\"\n          points=\"236.53 239.25 305.87 239.25 305.87 254.22 236.53 254.22 236.53 239.25 236.53 239.25\" />\n        <polygon class=\"cls-2\"\n          points=\"236.53 240.26 305.87 240.26 305.87 253.32 236.53 253.32 236.53 240.26 236.53 240.26\" />\n        <polygon class=\"cls-3\"\n          points=\"236.53 241.84 305.87 241.84 305.87 251.74 236.53 251.74 236.53 241.84 236.53 241.84\" />\n        <polygon class=\"cls-4\"\n          points=\"236.53 243.3 305.87 243.3 305.87 250.16 236.53 250.16 236.53 243.3 236.53 243.3\" />\n        <polygon class=\"cls-5\"\n          points=\"236.53 244.54 305.87 244.54 305.87 248.93 236.53 248.93 236.53 244.54 236.53 244.54\" />\n        <polygon class=\"cls-6\"\n          points=\"236.53 245.89 305.87 245.89 305.87 247.69 236.53 247.69 236.53 245.89 236.53 245.89\" />\n        <line class=\"cls-7\" x1=\"236.53\" y1=\"254.22\" x2=\"305.87\" y2=\"254.22\" />\n        <line class=\"cls-7\" x1=\"305.87\" y1=\"239.25\" x2=\"236.53\" y2=\"239.25\" />\n        <polygon class=\"cls-1\"\n          points=\"81.82 252.32 174.92 252.32 174.92 267.29 81.82 267.29 81.82 252.32 81.82 252.32\" />\n        <polygon class=\"cls-2\"\n          points=\"81.82 253.34 174.92 253.34 174.92 266.39 81.82 266.39 81.82 253.34 81.82 253.34\" />\n        <polygon class=\"cls-3\"\n          points=\"81.82 254.92 174.92 254.92 174.92 264.81 81.82 264.81 81.82 254.92 81.82 254.92\" />\n        <polygon class=\"cls-4\"\n          points=\"81.82 256.38 174.92 256.38 174.92 263.24 81.82 263.24 81.82 256.38 81.82 256.38\" />\n        <polygon class=\"cls-5\"\n          points=\"81.82 257.61 174.92 257.61 174.92 262.01 81.82 262.01 81.82 257.61 81.82 257.61\" />\n        <polygon class=\"cls-6\"\n          points=\"81.82 258.97 174.92 258.97 174.92 260.76 81.82 260.76 81.82 258.97 81.82 258.97\" />\n        <line class=\"cls-7\" x1=\"81.82\" y1=\"267.29\" x2=\"174.92\" y2=\"267.29\" />\n        <line class=\"cls-7\" x1=\"174.92\" y1=\"252.32\" x2=\"81.82\" y2=\"252.32\" />\n        <polygon class=\"cls-1\"\n          points=\"341.6 236.79 341.6 224.37 323.69 224.37 323.69 236.79 323.47 237.74 322.83 238.58 321.83 239.12 320.68 239.3 305.78 239.3 305.78 254.22 320.68 254.22 322.83 254.09 324.91 253.86 326.91 253.44 328.85 252.84 330.64 252.13 332.35 251.24 334 250.22 335.44 249.09 336.8 247.89 338.01 246.52 339.09 245.09 339.95 243.59 340.66 241.99 341.16 240.31 341.45 238.58 341.6 236.79 341.6 236.79\" />\n        <polygon class=\"cls-2\"\n          points=\"320.68 253.26 322.69 253.21 324.69 252.9 326.56 252.55 328.41 251.95 330.13 251.3 331.78 250.46 333.29 249.5 334.65 248.43 335.94 247.3 337.09 246.04 338.09 244.67 338.87 243.24 339.59 241.68 340.01 240.13 340.38 238.46 340.45 236.79 340.45 224.37 324.84 224.37 324.84 236.79 324.48 238.17 323.62 239.24 322.33 239.96 320.68 240.25 305.78 240.25 305.78 253.26 320.68 253.26 320.68 253.26\" />\n        <polygon class=\"cls-3\"\n          points=\"320.68 251.71 305.78 251.71 305.78 241.8 320.68 241.8 321.9 241.68 323.05 241.39 324.05 240.97 324.91 240.31 325.69 239.59 326.19 238.76 326.56 237.81 326.7 236.79 326.7 224.37 338.59 224.37 338.59 236.79 338.51 238.34 338.23 239.77 337.8 241.21 337.16 242.58 336.44 243.89 335.51 245.15 334.5 246.28 333.36 247.36 332.07 248.31 330.71 249.15 329.21 249.92 327.63 250.52 325.98 251.06 324.27 251.41 322.55 251.65 320.68 251.71 320.68 251.71\" />\n        <polygon class=\"cls-4\"\n          points=\"320.68 250.16 322.33 250.1 323.9 249.86 325.48 249.56 326.91 249.09 328.35 248.55 329.63 247.89 330.93 247.12 332.07 246.22 333.07 245.33 334 244.25 334.79 243.18 335.44 241.99 336.01 240.78 336.37 239.48 336.65 238.17 336.72 236.79 336.72 224.37 328.56 224.37 328.56 236.79 328.41 238.11 327.91 239.36 327.2 240.49 326.27 241.44 325.12 242.22 323.76 242.81 322.26 243.24 320.68 243.36 305.78 243.36 305.78 250.16 320.68 250.16 320.68 250.16\" />\n        <polygon class=\"cls-5\"\n          points=\"320.68 248.97 305.78 248.97 305.78 244.61 320.68 244.61 322.55 244.43 324.34 244.01 325.91 243.3 327.34 242.28 328.49 241.15 329.35 239.84 329.85 238.34 330.06 236.79 330.06 224.37 335.29 224.37 335.29 236.79 335.22 238.05 335 239.24 334.65 240.43 334.15 241.56 333.5 242.58 332.79 243.59 332 244.55 331 245.38 330 246.22 328.85 246.87 327.63 247.47 326.41 248.01 325.05 248.43 323.62 248.72 322.19 248.9 320.68 248.97 320.68 248.97\" />\n        <polygon class=\"cls-6\"\n          points=\"320.68 247.71 322.05 247.65 323.33 247.47 324.55 247.24 325.77 246.87 326.91 246.4 327.99 245.86 328.99 245.21 329.92 244.49 330.78 243.71 331.57 242.88 332.21 241.99 332.79 241.03 333.22 240.02 333.5 239 333.72 237.93 333.79 236.79 333.79 224.37 331.5 224.37 331.5 236.79 331.28 238.64 330.64 240.31 329.63 241.86 328.35 243.18 326.77 244.25 324.91 245.09 322.9 245.62 320.68 245.8 305.78 245.8 305.78 247.71 320.68 247.71 320.68 247.71\" />\n        <polyline class=\"cls-7\"\n          points=\"305.78 254.22 320.68 254.22 322.83 254.09 324.91 253.86 326.91 253.44 328.85 252.84 330.64 252.13 332.35 251.24 334 250.22 335.44 249.09 336.8 247.89 338.01 246.52 339.09 245.09 339.95 243.59 340.66 241.99 341.16 240.31 341.45 238.58 341.6 236.79 341.6 224.37\" />\n        <polyline class=\"cls-7\"\n          points=\"323.69 224.37 323.69 236.79 323.62 237.27 323.47 237.74 323.19 238.17 322.83 238.58 322.33 238.88 321.83 239.12 321.25 239.24 320.68 239.3 305.78 239.3\" />\n        <polygon class=\"cls-1\"\n          points=\"69.46 267.29 82.15 267.29 82.15 252.36 69.46 252.36 68.48 252.18 67.63 251.64 67.08 250.8 66.89 249.85 66.89 237.43 51.64 237.43 51.64 249.85 51.76 251.64 52 253.38 52.43 255.05 53.04 256.66 53.77 258.15 54.69 259.59 55.72 260.96 56.89 262.15 58.11 263.3 59.51 264.31 60.97 265.2 62.5 265.92 64.15 266.52 65.85 266.94 67.63 267.17 69.46 267.29 69.46 267.29\" />\n        <polygon class=\"cls-2\"\n          points=\"52.61 249.85 52.67 251.52 52.98 253.2 53.35 254.75 53.95 256.31 54.63 257.73 55.48 259.11 56.46 260.37 57.55 261.5 58.72 262.58 60 263.53 61.4 264.37 62.87 265.02 64.45 265.62 66.04 265.98 67.75 266.27 69.46 266.33 82.15 266.33 82.15 253.32 69.46 253.32 68.06 253.02 66.96 252.3 66.22 251.23 65.91 249.85 65.91 237.43 52.61 237.43 52.61 249.85 52.61 249.85\" />\n        <polygon class=\"cls-3\"\n          points=\"54.2 249.85 54.2 237.43 64.33 237.43 64.33 249.85 64.45 250.87 64.76 251.82 65.19 252.66 65.85 253.38 66.59 254.03 67.44 254.45 68.42 254.75 69.46 254.86 82.15 254.86 82.15 264.79 69.46 264.79 67.88 264.73 66.41 264.49 64.94 264.13 63.54 263.59 62.19 262.99 60.91 262.21 59.76 261.38 58.66 260.43 57.68 259.35 56.82 258.22 56.03 256.96 55.42 255.64 54.87 254.27 54.5 252.83 54.26 251.4 54.2 249.85 54.2 249.85\" />\n        <polygon class=\"cls-4\"\n          points=\"55.78 249.85 55.85 251.23 56.09 252.54 56.4 253.85 56.89 255.05 57.43 256.25 58.11 257.32 58.9 258.4 59.82 259.29 60.73 260.19 61.83 260.96 62.93 261.62 64.15 262.15 65.37 262.64 66.71 262.93 68.06 263.17 69.46 263.23 82.15 263.23 82.15 256.42 69.46 256.42 68.12 256.31 66.84 255.88 65.67 255.29 64.7 254.51 63.9 253.55 63.3 252.42 62.87 251.17 62.74 249.85 62.74 237.43 55.78 237.43 55.78 249.85 55.78 249.85\" />\n        <polygon class=\"cls-5\"\n          points=\"57.07 249.85 57.07 237.43 61.53 237.43 61.53 249.85 61.71 251.4 62.13 252.9 62.87 254.22 63.84 255.35 65 256.36 66.35 257.07 67.88 257.5 69.46 257.68 82.15 257.68 82.15 262.03 69.46 262.03 68.18 261.98 66.96 261.8 65.79 261.5 64.64 261.08 63.54 260.54 62.56 259.94 61.59 259.29 60.73 258.45 59.88 257.62 59.2 256.66 58.59 255.64 58.05 254.63 57.61 253.5 57.31 252.3 57.13 251.11 57.07 249.85 57.07 249.85\" />\n        <polygon class=\"cls-6\"\n          points=\"58.29 249.85 58.35 250.99 58.53 252.06 58.78 253.08 59.14 254.09 59.63 255.05 60.18 255.94 60.85 256.78 61.59 257.56 62.38 258.28 63.23 258.93 64.15 259.47 65.13 259.94 66.17 260.31 67.2 260.54 68.3 260.72 69.46 260.78 82.15 260.78 82.15 258.87 69.46 258.87 67.56 258.69 65.85 258.15 64.27 257.32 62.93 256.25 61.83 254.93 60.97 253.38 60.42 251.7 60.24 249.85 60.24 237.43 58.29 237.43 58.29 249.85 58.29 249.85\" />\n        <polyline class=\"cls-7\"\n          points=\"51.64 237.43 51.64 249.85 51.76 251.64 52 253.38 52.43 255.05 53.04 256.66 53.77 258.15 54.69 259.59 55.72 260.96 56.89 262.15 58.11 263.3 59.51 264.31 60.97 265.2 62.5 265.92 64.15 266.52 65.85 266.94 67.63 267.17 69.46 267.29 82.15 267.29\" />\n        <polyline class=\"cls-7\"\n          points=\"82.15 252.36 69.46 252.36 68.97 252.3 68.48 252.18 68.06 251.94 67.63 251.64 67.32 251.23 67.08 250.8 66.96 250.33 66.89 249.85 66.89 237.43\" />\n        <polygon class=\"cls-1\"\n          points=\"323.72 224.37 323.72 193.19 341.6 193.19 341.6 224.37 323.72 224.37 323.72 224.37\" />\n        <polygon class=\"cls-2\"\n          points=\"324.81 224.37 324.81 193.19 340.52 193.19 340.52 224.37 324.81 224.37 324.81 224.37\" />\n        <polygon class=\"cls-3\"\n          points=\"326.7 224.37 326.7 193.19 338.62 193.19 338.62 224.37 326.7 224.37 326.7 224.37\" />\n        <polygon class=\"cls-4\"\n          points=\"328.6 224.37 328.6 193.19 336.86 193.19 336.86 224.37 328.6 224.37 328.6 224.37\" />\n        <polygon class=\"cls-5\"\n          points=\"329.95 224.37 329.95 193.19 335.23 193.19 335.23 224.37 329.95 224.37 329.95 224.37\" />\n        <polygon class=\"cls-6\"\n          points=\"331.58 224.37 331.58 193.19 333.74 193.19 333.74 224.37 331.58 224.37 331.58 224.37\" />\n        <line class=\"cls-7\" x1=\"341.6\" y1=\"224.37\" x2=\"341.6\" y2=\"193.19\" />\n        <line class=\"cls-7\" x1=\"323.72\" y1=\"193.19\" x2=\"323.72\" y2=\"224.37\" />\n        <polygon class=\"cls-1\" points=\"68.78 143.51 68.78 111.48 85.18 111.48 85.18 143.51 68.78 143.51 68.78 143.51\" />\n        <polygon class=\"cls-2\" points=\"69.78 143.51 69.78 111.48 84.18 111.48 84.18 143.51 69.78 143.51 69.78 143.51\" />\n        <polygon class=\"cls-3\" points=\"71.52 143.51 71.52 111.48 82.45 111.48 82.45 143.51 71.52 143.51 71.52 143.51\" />\n        <polygon class=\"cls-4\" points=\"73.26 143.51 73.26 111.48 80.83 111.48 80.83 143.51 73.26 143.51 73.26 143.51\" />\n        <polygon class=\"cls-5\" points=\"74.5 143.51 74.5 111.48 79.35 111.48 79.35 143.51 74.5 143.51 74.5 143.51\" />\n        <polygon class=\"cls-6\" points=\"75.99 143.51 75.99 111.48 77.97 111.48 77.97 143.51 75.99 143.51 75.99 143.51\" />\n        <line class=\"cls-7\" x1=\"85.18\" y1=\"143.51\" x2=\"85.18\" y2=\"111.48\" />\n        <line class=\"cls-7\" x1=\"68.78\" y1=\"111.48\" x2=\"68.78\" y2=\"143.51\" />\n        <polygon class=\"cls-1\" points=\"24.07 144.28 24.07 43.79 40.47 43.79 40.47 144.28 24.07 144.28 24.07 144.28\" />\n        <polygon class=\"cls-2\" points=\"25.06 144.28 25.06 43.79 39.47 43.79 39.47 144.28 25.06 144.28 25.06 144.28\" />\n        <polygon class=\"cls-3\" points=\"26.8 144.28 26.8 43.79 37.73 43.79 37.73 144.28 26.8 144.28 26.8 144.28\" />\n        <polygon class=\"cls-4\" points=\"28.54 144.28 28.54 43.79 36.11 43.79 36.11 144.28 28.54 144.28 28.54 144.28\" />\n        <polygon class=\"cls-5\" points=\"29.78 144.28 29.78 43.79 34.63 43.79 34.63 144.28 29.78 144.28 29.78 144.28\" />\n        <polygon class=\"cls-6\" points=\"31.27 144.28 31.27 43.79 33.26 43.79 33.26 144.28 31.27 144.28 31.27 144.28\" />\n        <line class=\"cls-7\" x1=\"40.47\" y1=\"144.28\" x2=\"40.47\" y2=\"43.79\" />\n        <line class=\"cls-7\" x1=\"24.06\" y1=\"43.79\" x2=\"24.06\" y2=\"144.28\" />\n        <polygon class=\"cls-1\" points=\"343.83 94.2 343.83 30.34 360.23 30.34 360.23 94.2 343.83 94.2 343.83 94.2\" />\n        <polygon class=\"cls-2\" points=\"344.83 94.2 344.83 30.34 359.23 30.34 359.23 94.2 344.83 94.2 344.83 94.2\" />\n        <polygon class=\"cls-3\" points=\"346.56 94.2 346.56 30.34 357.5 30.34 357.5 94.2 346.56 94.2 346.56 94.2\" />\n        <polygon class=\"cls-4\" points=\"348.3 94.2 348.3 30.34 355.88 30.34 355.88 94.2 348.3 94.2 348.3 94.2\" />\n        <polygon class=\"cls-5\" points=\"349.54 94.2 349.54 30.34 354.39 30.34 354.39 94.2 349.54 94.2 349.54 94.2\" />\n        <polygon class=\"cls-6\" points=\"351.04 94.2 351.04 30.34 353.02 30.34 353.02 94.2 351.04 94.2 351.04 94.2\" />\n        <line class=\"cls-7\" x1=\"360.23\" y1=\"94.2\" x2=\"360.23\" y2=\"30.34\" />\n        <line class=\"cls-7\" x1=\"343.83\" y1=\"30.34\" x2=\"343.83\" y2=\"94.2\" />\n        <polygon class=\"cls-8\"\n          points=\"262.49 97.58 262.49 189.03 267.31 190.59 281.82 191.99 304.78 192.89 330.18 193.19 355.58 192.89 378.54 191.99 393 190.59 397.87 189.03 397.87 97.58 393.05 96.03 378.54 94.63 355.58 93.73 330.18 93.42 304.78 93.73 281.82 94.63 267.36 96.03 262.49 97.58 262.49 97.58\" />\n        <polygon class=\"cls-9\"\n          points=\"266.6 97.29 266.6 189.26 271.15 190.73 284.8 192.03 306.35 192.89 330.24 193.16 354.12 192.89 375.67 192.03 389.26 190.73 393.86 189.26 393.86 97.29 389.32 95.82 375.67 94.52 354.12 93.69 330.24 93.39 306.35 93.69 284.8 94.52 271.21 95.82 266.6 97.29 266.6 97.29\" />\n        <polygon class=\"cls-10\"\n          points=\"270.67 97.05 270.67 189.49 274.89 190.86 287.67 192.09 307.87 192.89 330.24 193.16 352.6 192.89 372.8 192.09 385.53 190.86 389.8 189.49 389.8 97.05 385.58 95.69 372.8 94.46 352.6 93.66 330.24 93.39 307.87 93.66 287.67 94.46 274.95 95.69 270.67 97.05 270.67 97.05\" />\n        <polygon class=\"cls-11\"\n          points=\"274.73 96.78 274.73 189.76 278.68 191.02 290.6 192.15 309.38 192.89 330.24 193.16 351.08 192.89 369.88 192.15 381.74 191.02 385.74 189.76 385.74 96.78 381.79 95.52 369.88 94.39 351.08 93.66 330.24 93.39 309.38 93.66 290.6 94.39 278.74 95.52 274.73 96.78 274.73 96.78\" />\n        <polygon class=\"cls-12\"\n          points=\"278.79 96.52 278.79 190 282.42 191.2 293.47 192.22 310.91 192.92 330.24 193.16 349.52 192.92 367.01 192.22 378 191.2 381.68 190 381.68 96.52 378 95.35 367.01 94.32 349.52 93.62 330.24 93.39 310.91 93.62 293.47 94.32 282.47 95.35 278.79 96.52 278.79 96.52\" />\n        <polygon class=\"cls-13\"\n          points=\"282.85 96.28 282.85 190.26 286.21 191.32 296.39 192.29 312.47 192.92 330.24 193.16 348 192.92 364.08 192.29 374.21 191.32 377.62 190.26 377.62 96.28 374.26 95.19 364.08 94.22 348 93.62 330.24 93.39 312.47 93.62 296.39 94.22 286.26 95.19 282.85 96.28 282.85 96.28\" />\n        <polygon class=\"cls-14\"\n          points=\"286.91 96.03 286.91 190.5 290 191.49 299.26 192.35 313.99 192.96 330.24 193.16 346.48 192.96 361.21 192.35 370.47 191.49 373.56 190.5 373.56 96.03 370.47 95.06 361.21 94.16 346.48 93.59 330.24 93.39 313.99 93.59 299.26 94.16 290 95.06 286.91 96.03 286.91 96.03\" />\n        <polygon class=\"cls-15\"\n          points=\"290.98 95.76 290.98 190.76 293.73 191.63 302.18 192.46 315.5 192.96 330.24 193.16 344.96 192.96 358.28 192.46 366.68 191.63 369.5 190.76 369.5 95.76 366.73 94.89 358.28 94.09 344.96 93.59 330.24 93.39 315.5 93.59 302.18 94.09 293.79 94.89 290.98 95.76 290.98 95.76\" />\n        <polygon class=\"cls-16\"\n          points=\"294.98 95.52 294.98 191.02 297.53 191.79 305.06 192.53 317.02 192.99 330.24 193.16 343.45 192.99 355.36 192.53 362.89 191.79 365.44 191.02 365.44 95.52 362.95 94.72 355.36 94.02 343.45 93.56 330.24 93.39 317.02 93.56 305.06 94.02 297.53 94.72 294.98 95.52 294.98 95.52\" />\n        <polygon class=\"cls-17\"\n          points=\"299.05 95.26 299.05 191.26 301.32 191.96 307.98 192.59 318.54 192.99 330.24 193.16 341.93 192.99 352.49 192.59 359.16 191.96 361.43 191.26 361.43 95.26 359.16 94.56 352.49 93.96 341.93 93.56 330.24 93.39 318.54 93.56 307.98 93.96 301.32 94.56 299.05 95.26 299.05 95.26\" />\n        <polygon class=\"cls-18\"\n          points=\"303.11 94.99 303.11 191.52 305.06 192.09 310.91 192.66 320.05 192.99 330.24 193.16 340.42 192.99 349.57 192.66 355.36 192.09 357.37 191.52 357.37 94.99 355.42 94.43 349.57 93.89 340.42 93.53 330.24 93.39 320.05 93.53 310.91 93.89 305.11 94.43 303.11 94.99 303.11 94.99\" />\n        <polygon class=\"cls-19\"\n          points=\"307.17 94.72 307.17 191.76 308.84 192.26 313.77 192.72 321.57 193.02 330.24 193.16 338.9 193.02 346.7 192.72 351.62 192.26 353.31 191.76 353.31 94.72 351.62 94.25 346.7 93.82 338.9 93.53 330.24 93.39 321.57 93.53 313.77 93.82 308.84 94.25 307.17 94.72 307.17 94.72\" />\n        <polygon class=\"cls-20\"\n          points=\"311.23 94.49 311.23 192.03 312.58 192.42 316.69 192.78 323.08 193.02 330.24 193.16 337.33 193.02 343.77 192.78 347.83 192.42 349.24 192.03 349.24 94.49 347.83 94.09 343.77 93.76 337.33 93.5 330.24 93.39 323.08 93.5 316.69 93.76 312.63 94.09 311.23 94.49 311.23 94.49\" />\n        <polygon class=\"cls-21\"\n          points=\"315.29 94.22 315.29 192.26 316.37 192.56 319.57 192.85 324.66 193.05 330.24 193.16 335.82 193.05 340.9 192.85 344.1 192.56 345.18 192.26 345.18 94.22 344.1 93.93 340.9 93.66 335.82 93.5 330.24 93.39 324.66 93.5 319.57 93.66 316.37 93.93 315.29 94.22 315.29 94.22\" />\n        <polygon class=\"cls-22\"\n          points=\"319.35 93.96 319.35 192.53 320.17 192.72 322.49 192.92 326.18 193.05 330.24 193.16 334.3 193.05 337.98 192.92 340.31 192.72 341.12 192.53 341.12 93.96 340.31 93.79 337.98 93.59 334.3 93.46 330.24 93.39 326.18 93.46 322.49 93.59 320.17 93.79 319.35 93.96 319.35 93.96\" />\n        <polygon class=\"cls-23\"\n          points=\"323.41 93.73 323.41 192.78 323.9 192.85 325.37 192.99 327.69 193.09 330.24 193.16 332.78 193.09 335.11 192.99 336.57 192.85 337.06 192.78 337.06 93.73 336.57 93.62 335.11 93.53 332.78 93.46 330.24 93.39 327.69 93.46 325.37 93.53 323.9 93.62 323.41 93.73 323.41 93.73\" />\n        <polygon class=\"cls-5\"\n          points=\"327.42 93.5 327.42 193.05 327.64 193.05 328.23 193.09 329.15 193.12 330.18 193.19 331.21 193.12 332.13 193.09 332.72 193.05 332.94 193.05 332.94 93.5 332.72 93.5 332.13 93.5 331.21 93.46 330.18 93.42 329.15 93.46 328.23 93.5 327.64 93.5 327.42 93.5 327.42 93.5\" />\n        <polyline class=\"cls-7\"\n          points=\"262.49 97.58 262.49 189.03 267.31 190.59 281.82 191.99 304.78 192.89 330.18 193.19 355.58 192.89 378.54 191.99 393 190.59 397.87 189.03 397.87 97.58 393.05 96.03 378.54 94.63 355.58 93.73 330.18 93.42 304.78 93.73 281.82 94.63 267.36 96.03 262.49 97.58\" />\n        <polygon class=\"cls-8\"\n          points=\"0 147.48 0 238.93 4.82 240.49 19.33 241.89 42.29 242.79 67.69 243.08 93.09 242.79 116.05 241.89 130.51 240.49 135.39 238.93 135.39 147.48 130.57 145.92 116.05 144.52 93.09 143.63 67.69 143.32 42.29 143.63 19.33 144.52 4.87 145.92 0 147.48 0 147.48\" />\n        <polygon class=\"cls-9\"\n          points=\"4.11 147.19 4.11 239.16 8.66 240.62 22.31 241.93 43.86 242.79 67.75 243.06 91.63 242.79 113.18 241.93 126.78 240.62 131.38 239.16 131.38 147.19 126.83 145.72 113.18 144.42 91.63 143.59 67.75 143.29 43.86 143.59 22.31 144.42 8.71 145.72 4.11 147.19 4.11 147.19\" />\n        <polygon class=\"cls-10\"\n          points=\"8.18 146.95 8.18 239.39 12.4 240.76 25.18 241.99 45.38 242.79 67.75 243.06 90.11 242.79 110.31 241.99 123.03 240.76 127.31 239.39 127.31 146.95 123.09 145.59 110.31 144.35 90.11 143.56 67.75 143.29 45.38 143.56 25.18 144.35 12.46 145.59 8.18 146.95 8.18 146.95\" />\n        <polygon class=\"cls-11\"\n          points=\"12.24 146.69 12.24 239.66 16.2 240.92 28.11 242.05 46.89 242.79 67.75 243.06 88.6 242.79 107.38 242.05 119.24 240.92 123.25 239.66 123.25 146.69 119.3 145.42 107.38 144.28 88.6 143.56 67.75 143.29 46.89 143.56 28.11 144.28 16.25 145.42 12.24 146.69 12.24 146.69\" />\n        <polygon class=\"cls-12\"\n          points=\"16.3 146.42 16.3 239.9 19.93 241.09 30.98 242.12 48.41 242.82 67.75 243.06 87.03 242.82 104.52 242.12 115.51 241.09 119.19 239.9 119.19 146.42 115.51 145.25 104.52 144.22 87.03 143.52 67.75 143.29 48.41 143.52 30.98 144.22 19.98 145.25 16.3 146.42 16.3 146.42\" />\n        <polygon class=\"cls-13\"\n          points=\"20.36 146.19 20.36 240.16 23.72 241.22 33.9 242.18 49.99 242.82 67.75 243.06 85.5 242.82 101.59 242.18 111.72 241.22 115.13 240.16 115.13 146.19 111.77 145.09 101.59 144.12 85.5 143.52 67.75 143.29 49.99 143.52 33.9 144.12 23.77 145.09 20.36 146.19 20.36 146.19\" />\n        <polygon class=\"cls-14\"\n          points=\"24.42 145.92 24.42 240.4 27.51 241.39 36.77 242.25 51.5 242.85 67.75 243.06 83.99 242.85 98.72 242.25 107.98 241.39 111.07 240.4 111.07 145.92 107.98 144.95 98.72 144.06 83.99 143.49 67.75 143.29 51.5 143.49 36.77 144.06 27.51 144.95 24.42 145.92 24.42 145.92\" />\n        <polygon class=\"cls-15\"\n          points=\"28.49 145.65 28.49 240.66 31.24 241.52 39.69 242.36 53.02 242.85 67.75 243.06 82.47 242.85 95.8 242.36 104.19 241.52 107 240.66 107 145.65 104.25 144.78 95.8 143.99 82.47 143.49 67.75 143.29 53.02 143.49 39.69 143.99 31.3 144.78 28.49 145.65 28.49 145.65\" />\n        <polygon class=\"cls-16\"\n          points=\"32.49 145.42 32.49 240.92 35.03 241.69 42.57 242.42 54.53 242.88 67.75 243.06 80.96 242.88 92.87 242.42 100.4 241.69 102.94 240.92 102.94 145.42 100.46 144.62 92.87 143.92 80.96 143.46 67.75 143.29 54.53 143.46 42.57 143.92 35.03 144.62 32.49 145.42 32.49 145.42\" />\n        <polygon class=\"cls-17\"\n          points=\"36.55 145.16 36.55 241.16 38.83 241.86 45.49 242.49 56.05 242.88 67.75 243.06 79.44 242.88 90 242.49 96.67 241.86 98.94 241.16 98.94 145.16 96.67 144.46 90 143.85 79.44 143.46 67.75 143.29 56.05 143.46 45.49 143.85 38.83 144.46 36.55 145.16 36.55 145.16\" />\n        <polygon class=\"cls-18\"\n          points=\"40.61 144.89 40.61 241.42 42.57 241.99 48.41 242.56 57.56 242.88 67.75 243.06 77.93 242.88 87.08 242.56 92.87 241.99 94.88 241.42 94.88 144.89 92.92 144.32 87.08 143.79 77.93 143.42 67.75 143.29 57.56 143.42 48.41 143.79 42.62 144.32 40.61 144.89 40.61 144.89\" />\n        <polygon class=\"cls-19\"\n          points=\"44.67 144.62 44.67 241.66 46.36 242.16 51.28 242.62 59.08 242.92 67.75 243.06 76.41 242.92 84.21 242.62 89.13 242.16 90.82 241.66 90.82 144.62 89.13 144.16 84.21 143.72 76.41 143.42 67.75 143.29 59.08 143.42 51.28 143.72 46.36 144.16 44.67 144.62 44.67 144.62\" />\n        <polygon class=\"cls-20\"\n          points=\"48.73 144.39 48.73 241.93 50.09 242.32 54.21 242.69 60.6 242.92 67.75 243.06 74.84 242.92 81.28 242.69 85.35 242.32 86.76 241.93 86.76 144.39 85.35 143.99 81.28 143.65 74.84 143.39 67.75 143.29 60.6 143.39 54.21 143.65 50.14 143.99 48.73 144.39 48.73 144.39\" />\n        <polygon class=\"cls-21\"\n          points=\"52.8 144.12 52.8 242.16 53.88 242.45 57.08 242.75 62.17 242.95 67.75 243.06 73.33 242.95 78.41 242.75 81.61 242.45 82.69 242.16 82.69 144.12 81.61 143.83 78.41 143.56 73.33 143.39 67.75 143.29 62.17 143.39 57.08 143.56 53.88 143.83 52.8 144.12 52.8 144.12\" />\n        <polygon class=\"cls-22\"\n          points=\"56.86 143.85 56.86 242.42 57.67 242.62 60.01 242.82 63.69 242.95 67.75 243.06 71.81 242.95 75.49 242.82 77.82 242.62 78.63 242.42 78.63 143.85 77.82 143.69 75.49 143.49 71.81 143.36 67.75 143.29 63.69 143.36 60.01 143.49 57.67 143.69 56.86 143.85 56.86 143.85\" />\n        <polygon class=\"cls-23\"\n          points=\"60.92 143.63 60.92 242.69 61.41 242.75 62.87 242.88 65.2 242.99 67.75 243.06 70.29 242.99 72.62 242.88 74.09 242.75 74.57 242.69 74.57 143.63 74.09 143.52 72.62 143.42 70.29 143.36 67.75 143.29 65.2 143.36 62.87 143.42 61.41 143.52 60.92 143.63 60.92 143.63\" />\n        <polygon class=\"cls-5\"\n          points=\"64.93 143.39 64.93 242.95 65.15 242.95 65.74 242.99 66.67 243.02 67.69 243.08 68.72 243.02 69.65 242.99 70.23 242.95 70.45 242.95 70.45 143.39 70.23 143.39 69.65 143.39 68.72 143.36 67.69 143.32 66.67 143.36 65.74 143.39 65.15 143.39 64.93 143.39 64.93 143.39\" />\n        <polyline class=\"cls-7\"\n          points=\"0 147.48 0 238.93 4.82 240.49 19.33 241.89 42.29 242.79 67.69 243.08 93.09 242.79 116.05 241.89 130.51 240.49 135.39 238.93 135.39 147.48 130.57 145.92 116.05 144.52 93.09 143.63 67.69 143.32 42.29 143.63 19.33 144.52 4.87 145.92 0 147.48\" />\n\n        <!-- Bombas con color dinmico -->\n        <circle class=\"cls-26\" cx=\"201.29\" cy=\"21.46\" r=\"10.24\" :fill=\"bomba1 ? '#E33636' : '#4FAE32'\" />\n        <circle class=\"cls-26\" cx=\"199.07\" cy=\"89.14\" r=\"10.24\" :fill=\"bomba2 ? '#E33636' : '#4FAE32'\" />\n        <circle class=\"cls-26\" cx=\"203.5\" cy=\"259.93\" r=\"10.24\" :fill=\"bomba3 ? '#E33636' : '#4FAE32'\" />\n\n        <!-- Primer tanque -->\n        <rect class=\"cls-25\" x=\"37.86\" y=\"146.1\" width=\"54.14\" height=\"94.21\" rx=\"8.43\" fill=\"#ccc\" stroke=\"#999\"\n          stroke-width=\"2\" />\n        <rect class=\"cls-24\" x=\"37.86\" :y=\"146.1 + 94.21 - (nivel1 * 94.21 / 100)\" width=\"54.14\"\n          :height=\"(nivel1 * 94.21 / 100)\" rx=\"8.43\" fill=\"#4CAF50\" />\n\n        <!-- Segundo tanque -->\n        <rect class=\"cls-25\" x=\"310.38\" y=\"96.17\" width=\"50.49\" height=\"94.21\" rx=\"8.43\" fill=\"#ccc\" stroke=\"#999\"\n          stroke-width=\"2\" />\n        <rect class=\"cls-24\" x=\"310.38\" :y=\"96.17 + 94.21 - (nivel2 * 94.21 / 100)\" width=\"50.49\"\n          :height=\"(nivel2 * 94.21 / 100)\" rx=\"8.43\" fill=\"#4CAF50\" />\n      </svg>\n    </div>\n    <p>Tanque 1: {{ nivel1 }}% | Tanque 2: {{ nivel2 }}%</p>\n    <p>Bombas: B1={{ bomba1 }}| B2={{ bomba2 }}| B3={{ bomba3 }}|<p>\n \n\n  </div>\n</template>\n\n<style scoped>\n  .cls-1 {\n    fill: #7f7f80;\n  }\n\n  .cls-1,\n  .cls-10,\n  .cls-11,\n  .cls-12,\n  .cls-13,\n  .cls-14,\n  .cls-15,\n  .cls-16,\n  .cls-17,\n  .cls-18,\n  .cls-19,\n  .cls-2,\n  .cls-20,\n  .cls-21,\n  .cls-22,\n  .cls-23,\n  .cls-3,\n  .cls-4,\n  .cls-5,\n  .cls-6,\n  .cls-8,\n  .cls-9 {\n    fill-rule: evenodd;\n  }\n\n  .cls-2 {\n    fill: #999;\n  }\n\n  .cls-3 {\n    fill: #b3b2b2;\n  }\n\n  .cls-4 {\n    fill: #cdcccc;\n  }\n\n  .cls-5 {\n    fill: #e5e4e4;\n  }\n\n  .cls-6 {\n    fill: #fff;\n  }\n\n  .cls-25,\n  .cls-7 {\n    fill: none;\n  }\n\n  .cls-8 {\n    fill: #676766;\n  }\n\n  .cls-9 {\n    fill: #6f6e6e;\n  }\n\n  .cls-10 {\n    fill: #757575;\n  }\n\n  .cls-11 {\n    fill: #7d7d7d;\n  }\n\n  .cls-12 {\n    fill: #858585;\n  }\n\n  .cls-13 {\n    fill: #8e8f8f;\n  }\n\n  .cls-14 {\n    fill: #969696;\n  }\n\n  .cls-15 {\n    fill: #9e9e9e;\n  }\n\n  .cls-16 {\n    fill: #a6a5a5;\n  }\n\n  .cls-17 {\n    fill: #adadad;\n  }\n\n  .cls-18 {\n    fill: #b5b5b5;\n  }\n\n  .cls-19 {\n    fill: #bdbcbc;\n  }\n\n  .cls-20 {\n    fill: #c4c4c4;\n  }\n\n  .cls-21 {\n    fill: #cfcfcf;\n  }\n\n  .cls-22 {\n    fill: #d7d7d7;\n  }\n\n  .cls-23 {\n    fill: #dedede;\n  }\n\n  .cls-24 {\n    fill: #34669a;\n  }\n\n  .cls-25,\n  .cls-26 {\n    stroke: #000;\n    stroke-miterlimit: 10;\n  }\n\n\n</style>\n\n<script>\n  export default {\n  data() {\n    return {\n      nivel1: 0,\n      nivel2: 0,\n      bomba1: false,\n      bomba2: false,\n      bomba3: false\n    };\n  },\n  watch: {\n    msg: {\n      immediate: true,\n      handler(newMsg) {\n        if (newMsg && typeof newMsg.payload !== 'undefined') {\n          // Si el payload es un objeto con varias propiedades\n          if (typeof newMsg.payload === 'object') {\n            this.nivel1 = Number(newMsg.payload.StorageLevel || 0);\n            this.nivel2 = Number(newMsg.payload.DistributionLevel || 0);\n            this.bomba1 = Boolean(newMsg.payload.StatePump1);\n            this.bomba2 = Boolean(newMsg.payload.StatePump2);\n            this.bomba3 = Boolean(newMsg.payload.StatePump3);\n          } else {\n            // Si solo llega un valor, lo asignamos al primer tanque\n            this.nivel1 = Number(newMsg.payload);\n          }\n        }\n      }\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1280,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "929c2423961d6271",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "StorageLevel",
        "diff": true,
        "name": "",
        "x": 850,
        "y": 800,
        "wires": [
            [
                "a46e150c6b0efa8b"
            ]
        ]
    },
    {
        "id": "907960a67c62708c",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "DistributionLevel",
        "diff": true,
        "name": "",
        "x": 840,
        "y": 740,
        "wires": [
            [
                "a46e150c6b0efa8b"
            ]
        ]
    },
    {
        "id": "a46e150c6b0efa8b",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1070,
        "y": 680,
        "wires": [
            [
                "a19a3fe248ed37bd"
            ]
        ]
    },
    {
        "id": "e4ac31f98a87627d",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "StatePump1",
        "diff": true,
        "name": "B1",
        "x": 870,
        "y": 560,
        "wires": [
            [
                "a46e150c6b0efa8b"
            ]
        ]
    },
    {
        "id": "0d87e3c6e0e1d8dd",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "StatePump2",
        "diff": true,
        "name": "B2",
        "x": 870,
        "y": 620,
        "wires": [
            [
                "a46e150c6b0efa8b"
            ]
        ]
    },
    {
        "id": "e530c750892ab7d3",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "StatePump3",
        "diff": true,
        "name": "B3",
        "x": 870,
        "y": 680,
        "wires": [
            [
                "a46e150c6b0efa8b"
            ]
        ]
    },
    {
        "id": "df3aaa9be8dc9906",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "SpStorageTank",
        "diff": true,
        "name": "StorageLevel",
        "x": 150,
        "y": 860,
        "wires": [
            [
                "0fadd8ac9c2f14d9"
            ]
        ]
    },
    {
        "id": "00a4d4c6a6d7ae77",
        "type": "pccc in",
        "z": "f6f2187d.f17ca8",
        "endpoint": "2d463ebab5f6d453",
        "mode": "single",
        "variable": "SpDistributionTank",
        "diff": true,
        "name": "DistributionLevel",
        "x": 160,
        "y": 920,
        "wires": [
            [
                "38cf770cfaa8a0cf"
            ]
        ]
    },
    {
        "id": "2d463ebab5f6d453",
        "type": "pccc endpoint",
        "address": "192.168.10.21",
        "port": "44818",
        "userouting": false,
        "routingbuf": "[1,0]",
        "cycletime": "100",
        "timeout": 1500,
        "name": "PLC_Tanques",
        "vartable": [
            {
                "addr": "B3:0/0",
                "name": "Start"
            },
            {
                "addr": "B3:0/1",
                "name": "Stop"
            },
            {
                "addr": "N7:1",
                "name": "StorageLevel"
            },
            {
                "addr": "N7:0",
                "name": "DistributionLevel"
            },
            {
                "addr": "N7:9",
                "name": "SpStorageTank"
            },
            {
                "addr": "N7:8",
                "name": "SpDistributionTank"
            },
            {
                "addr": "B3:1/2",
                "name": "StatePump3"
            },
            {
                "addr": "B3:1/0",
                "name": "StatePump2"
            },
            {
                "addr": "B3:1/0",
                "name": "StatePump1"
            }
        ]
    },
    {
        "id": "13a2541cf0d802d6",
        "type": "ui-group",
        "name": "Panel de control",
        "page": "e7f338fc26a9e1cb",
        "width": "3",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "476b291e3fc57649",
        "type": "ui-group",
        "name": "Proceso",
        "page": "e7f338fc26a9e1cb",
        "width": "8",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e7f338fc26a9e1cb",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "bd4709783213f0e7",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "59bb389955538a50",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bd4709783213f0e7",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "59bb389955538a50",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "2de1171878079c27",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-pccc": "1.0.2",
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]